#hologram-content {
  width: 600px;
  height: 400px;
  background-color: rgba(0, 255, 255, 0.5);
  border: 2px solid cyan;
  color: white;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  transform: translate(-50%, 0);
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: rgba(0, 255, 255, 0.1);
}
::-webkit-scrollbar-thumb {
  background: cyan;
  border-radius: 5px;
}
